body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
}

.main-box {
  display: flex;
  flex-direction: column;
  flex-grow: grow;
  max-width: 1320px;
  height: 100dvh;
  padding-top: 40px;
  padding-bottom: 20px;
}

.titulo {
  font-size: 3rem;
  color: #15a349;
  font-weight: 600;
  letter-spacing: -1px;
}

.subtitulo {
  font-size: 1rem;
  color: #616976;
  font-weight: 400;
}

.sub-box {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.first-block {
  justify-content: space-between;
}

.first-block,
.second-block {
  max-width: 1000px;
  width: 90%;
}

.upload-box {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  min-width: 280px;
  width: 95%;
  height: 390px;
  border-radius: 15px;
}

.upload-box h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.resultBox {
  display: flex;
  flex-direction: column;
  height: 250px;
  border-radius: 15px;
}
.resultBox h4 {
  font-weight: 600;
}

.image-upload {
  height: 230px;
  border: 2px dashed #d3d7dd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: border 0.3s;
}

.image-upload-other {
  border: 2px dashed #d3d7dd;
  height: 80px;
  cursor: pointer;
  transition: border 0.3s;
  border-radius: 10px;
}

.image-upload:hover,
.image-upload-other:hover {
  border: 2px dashed black;
  border-radius: 10px;
}

.image-upload .subt,
.upload-box .subt {
  font-size: 1.2rem;
}
.image-upload .aclaracion,
.upload-box .aclaracion {
  font-size: 0.85rem;
  color: #616976;
}

i.imagen-subir,
i.analisis {
  font-size: 60px;
  color: #d3d7dd;
}

i.analisis {
  font-size: 80px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.analisis-nutrientes h4{
    color: #15a349;
}

@media (max-width: 690px) {
  .first-block {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .second-block {
    margin-bottom: 50px;
  }
}
