{% extends "base.html" %}
{% block content %}
    <div class="container-fluid main-box text-center">
      <h2 class="titulo">Sistema Nutricional</h2>
      <p class="subtitulo">Analiza el valor nutricional de tus comidas mediante inteligencia artificial</p>

      <div class="container-fluid sub-box mt-3">
        <div class="first-block d-flex flex-row gap-4">
          <div class="upload-box shadow-lg border px-3 position-relative">
            <h4 class="mt-5 mb-4 fs-4 titulo-tarjeta-sube">Sube tu comida</h4>
            <form id="upload-form" enctype="multipart/form-data">
              <label
                for="file-input"
                class="image-upload d-flex flex-column align-items-center justify-content-center label-formulario"
              >
                <i class="fa-solid fa-image imagen-subir"></i>
                <p class="mt-2 subt">Haz click para subir una imagen</p>
                <p class="aclaracion">Formato JPG, PNG (max. 5MB)</p>
              </label>
              <input class="d-none" id="file-input" name="imagen" type="file" accept="image/png, image/jpeg" />
            </form>
            <div id="upload-spinner" class="d-none position-absolute top-50 start-50 translate-middle">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Subiendo...</span>
              </div>
            </div>
          </div>

          <div class="upload-box second-analisis-box shadow-lg border px-3">
            <div class="analisis_nutricional">
              <h4 class="mt-5 mb-4 fs-4">Analisis Nutricional</h4>
              <div>
                <i class="fa-solid fa-magnifying-glass-chart analisis"></i>
                <p class="mt-2 subt">No hay datos</p>
                <p class="aclaracion">Sube una imagen para obtener análisis</p>
              </div>
            </div>
          </div>
        </div>

        <div class="second-block mt-5">
          <div class="resultBox shadow-lg border">
            <h4 class="mt-4 mb-5 fs-4 text-start ps-5">Tu historial nutricional</h4>
            <p class="mt-2 subt">Aquí aparecerán los resultados del análisis</p>
          </div>
        </div>
      </div>
    </div>
   <!-- <a href="{{ url_for('views.historial_comidas') }}">Ver Historial de comidas cargadas</a>
    <a href="{{url_for('views.logout')}}">Cerrar Sesión</a>-->
{% endblock %}

{% block scripts %}
<script>
  window.API_URL = "{{ api_url }}";
</script>
<script src="{{ url_for('static', filename='js/upload.js') }}"></script>
{% endblock %}
