{% extends "base.html" %} 

{% block title %}
Iniciar Sesion
{% endblock %}

{% block content %}
<div class="login-container">
  <h1>Login</h1>
  <form action="{{ url_for('views.login') }}" method="POST">
    <label>Email:</label>
    <input type="email" name="email" required /><br />

    <label>Contraseña:</label>
    <input type="password" name="contrasena" required /><br />

    <button type="submit">Iniciar Sesión</button>
  </form>
</div>
{% endblock %} 
{% block scripts %} {% endblock %}
