{% extends "base.html" %} 

{% block title %}
Registro de Usuario | Mi PlatoIA
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}
" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/loading.css') }}" />
{% endblock %}

{% block content %}
<div class="register-container">
  <div class="form rounded shadow-lg border">
    <h1 class="mt-4">Registro de Usuario</h1>
    <form action="{{ url_for('views.register') }}" method="POST">
      <div>
        <label>Nombre:</label>
        <input type="text" name="nombre" required /><br />
      </div>
      <div>
        <label>Apellido:</label>
        <input type="text" name="apellido" required /><br />
      </div>
      <div>
        <label>Email:</label>
        <input type="email" name="email" required /><br />
      </div>
      <div>
        <label>Contraseña:</label>
        <input type="password" name="contrasena" required /><br />
      </div>

      <button type="submit">Registrar</button>
      <p class="text-center">¿Ya tienes una cuenta? <a href="{{ url_for('views.login') }}">Inicia sesión aquí</a></p>
    </form>
  </div>
  {% include "shared/loading.html" %}
</div>
{% endblock %} 


{% block scripts %}
<script src="{{ url_for('static', filename='js/loadingWholePage.js') }}"></script>
{% endblock %}
